<header>
  <nav class="nav">
    <div class="title-links">
      <img src="https://cdn-icons-png.flaticon.com/512/4646/4646096.png" alt="">
      <a class="title" href="/accounts">The Vault</a>
      <div class="links">
        <a class="link" href="/accounts">Accounts</a>
        <a class="link" href="/accounts/new/">Create New Account</a>
        <a  id="generate-new"class="link" href="/newpass/">Generate New Password</a>
      </div>
    </div>
      <div class="organization-user">
        <p> <%=org.name%> </p>
        <p class="fa-solid fa-user"> <%=user.id%> </p>
        <!-- figure our how to display username -->
      </div>
  </nav>
</header>
<!-- <i class="fa-solid fa-user"></i> -->
