<header>
  <nav class="nav">
    <div class="title-links">
      <img src="https://cdn-icons-png.flaticon.com/512/4646/4646096.png" alt="">
      <p class="title">The Vault</p>
    </div>
    <div class="links">
      <a class="link" href="">Login</a>
      <a class="link" href="">Register</a>
    </div>
  </nav>
</header>

