<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- links -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new-account.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles/newpass.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/scripts/toggle.js"></script>

    <title>Password Generator</title>

  </head>

  <body>

    <%- include('partials/_header', {user}, {org}) %>

    <main>
    <div class = "main-container">
      <div class = "password-header">
        <div class = "password">
          <div>
          <span id="password"> Here is your password</span>
        </div>
        <div class="copyclipboard">
          <button id="copy" type="button" class="btn btn-outline-primary">
              <span class="bi bi-clipboard"></span>
            </button>
          </div>
        </div>
        </div>
        <div class = "slider">
          <input type="range" value="8" min="1" max="25" class="slider"
          oninput="this.nextElementSibling.value = this.value" id="slider">
      <output>8</output>
        </div>
        <div class = "password-option">
          <label for="number">Contain numbers</label>
          <input id="number" type="checkbox" checked="checked">
        </div>
        <div class = "password-option">
          <label for="upper">Contain uppercase</label>
          <input id="upper" type="checkbox" checked="checked">
        </div>
        <div class = "password-option">
          <label for="lower">Contain lowercase</label>
          <input id="lower" type="checkbox" checked="checked">
        </div>
        <div class = "password-option">
          <label for="symbol">Contain special characters</label>
          <input id="symbol" type="checkbox" checked="checked">
        </div>
      <button class="generate btn btn-outline-primary" id="generate">Generate Password</button>
    </div>
    <section>
      <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 45%; top: 2%;">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
          <div class="toast-header">
            <strong class="mr-auto">Copied</strong>
          </div>
      </div>
    </div>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Attention!</strong> Your security is our priority. Please chose your own criteria.
    </div>
  </section>

    </main>

      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/scripts/newpass.js"></script>
  </body>
</html>
