@import "_variables";

main {
  background-color: $offWhite;
  min-height: 100vh;
}

// Account title and tabs links
.top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.tabs{
  display: flex;
  list-style: none;
  li {
    padding-left: 15px;
    cursor: pointer;
  }

  li:hover {
    color: #007bff;;
  }
}


// holds all the cards information
.main-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 20px;
  border: 1px solid $mainRed;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  width: 40%
}

.cards:hover {
  box-shadow: $boxShadow;
}

.org-name {
  text-align: center;
  h4 {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
  }
}

.site-category {
  display: flex;
  justify-content: space-evenly;
  font-family: $fontForm;
  font-size: 1.2rem;
  padding-bottom: 20px;

  .link {
    // color: black;
    text-decoration: none;
    font-family: $fontForm;
  }

  .link:hover {
    color: $mainRed
  }
}

.user-pass {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;

  p {
    font-weight: 500;
    padding-right: 10px;
  }

}

.username {
  display: flex;
  width: 100%;
}

.pw {
  display: flex;

  p {
    padding-right: 15px;
  }
}


.password {
  margin-top: 10px;
}

.hidden-pw {
  border: none;
  padding-bottom: 15px;
}

.pass-btn {
  i {
    margin-right: 5px;
  }
}

.form-btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.active {
  font-weight: 900;
  color: $mainRed
}


