@import "_variables";

main {
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: $marginTop;
}

// Account title and tabs links
.top-info {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  color: rgba(255, 255, 255, 0.871);
}

.account-tabs {
    font-family: $fontForm;
      h2 {
        margin-bottom: 0;
      }
}

.account-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs{
  display: flex;
  list-style: none;
  margin-bottom: 0;


  li {
    padding-left: 15px;
    cursor: pointer;
  }

  li:hover {
    color: #007bff;;
  }
}

.which-tab {
  font-size: 1.4rem;
  padding: 10px 0;
  text-align: center;
  font-weight: 900;
}


// holds all the cards information
.main-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 20px;
  border-radius: 20px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  width: 40%
}

.cards:hover {
  box-shadow: $boxShadow;
}

.org-name {
  text-align: center;
  h4 {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
  }
}

.site-category {
  display: flex;
  justify-content: space-evenly;
  font-family: $fontForm;
  font-size: 1.2rem;
  padding-bottom: 20px;

  .link {
    text-decoration: none;
    font-family: $fontForm;
  }

  .link:hover {
    color: $mainRed
  }
}

.user-pass {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;

  p {
    font-weight: 500;
    padding-right: 10px;
  }

}

.username {
  display: flex;
  width: 100%;
}

.pw {
  display: flex;

  p {
    padding-right: 15px;
  }

  input {
    background-color: #f1f1f1;
  }
}


.password {
  margin-top: 10px;
}

.hidden-pw {
  border: none;
  padding-bottom: 15px;
}

.pass-btn {
  i {
    margin-right: 5px;
  }
}

.form-btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.hide {
  display: none;
}


