@import "_variables";

header {
  background-color: $mainRed;
  padding: 10px 20px 10px 10px;
  width: 100%;
  // position: fixed;
  // top: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
  display: flex;
  // flex-direction: row;
  align-items: center;

  img {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 12px;
  }

  .title {
    font-size: 1.6rem;
    font-weight: 600;
    color: $offWhite;
    margin-right: 20px;
    text-decoration: $noUnderline;
  }
}

.link {
  text-decoration: $noUnderline;
  color: rgba(255, 255, 255, 0.673);
}
