@import "_variables";

header {
  background-color: $mainRed;
  padding: 10px 20px 10px 10px;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-links {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 12px;
  }

  .title {
    font-size: 1.6rem;
    font-weight: 600;
    color: $offWhite;
    margin-right: 20px;
    text-decoration: $noUnderline;
  }
}

.links {
  .link {
    color: rgba(255, 255, 255, 0.673);
    margin:0 5px;
    text-decoration: $noUnderline;

    .hide {
      display: none;
    }
  }
}

.organization-user {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: $offWhite;

  .org-name {
    margin: 0;
  }

}

.name {
  display: flex;
  color: $offWhite;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-top: 10px;

  p {
    margin: 0;
    // padding-top: 10px;
    padding-left: 5px;
  }
}
