main {
  background-color: #f1f1f1;
  height: 100vh;
  padding: 40px 0;

  .form-container {
    display: flex;
    width: 70%;
    height: 500px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 30px;


    .new-form {
      display: flex;
      height: 100%;
      flex-direction: column;
      width: 50%;
      align-content: space-between;
      justify-content: center;

      h3 {
        font-family: 'Libre Bodoni', serif;
        // margin-left: 50px;
        text-align: center;
        padding-bottom: 20px;
      }

      .form-labels {
        display: flex;
        flex-direction: column;
        align-content: space-around;

        .fields {
          display: flex;
          justify-content: space-between;
        }

        label {
          font-family: 'Libre Bodoni', serif;
          text-align: center;
        }

        .input {
          // font-family: 'Libre Bodoni', serif;
          padding: 5px;
          margin-right: 50px;
          margin-bottom: 10px;
          width: 70%;
          border: 1px solid rgb(186, 13, 13);
        }

        .select {

          color: rgba(0, 0, 0, 0.357);
        }
      }

      button {
        margin: auto;
        margin-top: 15px;
        width: 20%;
        text-align: center;
        background-color: rgb(186, 13, 13);
        color: #f1f1f1;
      }
    }

    .image {
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
  }


}
