@import "_variables";

main {
  height: 100vh;
  padding: 40px 0;
  background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin-top: $marginTop;
}

.form-container {
  width: 40%;
  padding-left: 20px;

  h3 {
    padding-bottom: 10px;
    font-family: $fontForm;
  }
}

.fields {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  label {
    margin:auto 0;
    font-family: $fontForm;
  }
}

.input {
  width: 80%;
  border: 2px solid $mainRed;
  padding: 5px;

}

.buttons {
  display: flex;
  justify-content: center;
  padding: 0 10px;

  .btn {
    margin-top: 15px;
    margin-left: 40px;
    background-color: $mainRed;
    color: $offWhite;
    width: 30%;
  }
}
